<div style="display: block; z-index: 1002; outline: 0px; height: auto; width: 866px; top: 87px; 
  left: 195.5px; border-top-left-radius: 6px; border-top-right-radius: 6px; border-bottom-left-radius: 6px; 
  border-bottom-right-radius: 6px;" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable" 
  tabindex="-1" role="dialog" aria-labelledby="ui-dialog-title-editor_dialog">
  
    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix" 
      style="border-top-left-radius: 1px; border-top-right-radius: 1px;">
        
        <span class="ui-dialog-title" id="ui-dialog-title-editor_dialog">Add Image</span>
        <a href="#" class="ui-dialog-titlebar-close ui-corner-all" role="button">
        	<span class="ui-icon ui-icon-closethick">close</span>
        </a>
    </div>
    <div 
      style="display: block; width: auto; min-height: 0px; height: auto;" 
      scrolltop="0" scrollleft="0">
      
        <form>
	        
	        <iframe src="/refinery/images/insert?modal=true" id="dialog_frame" frameborder="0" marginheight="0" marginwidth="0" border="0"></iframe>
	
	  		<div class="wym_hideables">
	
	    	<input type="button" value="Save" 
	    	    style="border-top-left-radius: 6px; border-top-right-radius: 6px; border-bottom-left-radius: 6px; 
	    	    border-bottom-right-radius: 6px;">

	         <a id="wym_dialog_cancel" href="" class="wym_cancel close_dialog button" 
	           style="border-top-left-radius: 6px; border-top-right-radius: 6px; border-bottom-left-radius: 
	           6px; border-bottom-right-radius: 6px;">Cancel</a>
	  		</div>

		</form>
	</div>
</div>